<template>
  <main class="post individual">
     <h1>{{ post.title.rendered }}</h1>
     <section v-html="post.content.rendered"></section>
  </main>
</template>

<script>
export default {
  computed: {
    posts() {
      return this.$store.state.posts;
    },
    post() {
      return this.posts.find(function(el){
        return el.slug === this.slug
      });
    }
  },
  data() {
    return {
      slug: this.$route.params.slug
    };
  },
  created() {
    this.$store.dispatch("getPosts");
  }
};
</script>

